.markdown-body p>img,
.markdown-body p>a>img,
.markdown-body figure>img,
.markdown-body figure>a>img {
  max-width: 90%;
  margin: 1.5rem auto;
  display: block;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}